doctype html
html
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  script.
    (function(document,navigator,standalone) {
    // prevents links from apps from oppening in mobile safari
    // this javascript must be the first script in your <head>
    if ((standalone in navigator) && navigator[standalone]) {
      var curnode, location=document.location, stop=/^(a|html)$/i;
      document.addEventListener('click', function(e) {
        curnode=e.target;
        while (!(stop).test(curnode.nodeName)) {
          curnode=curnode.parentNode;
        }
        // Condidions to do this only on links to your own app
        // if you want all links, use if('href' in curnode) instead.
        if(
          'href' in curnode && // is a link
          (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
          (	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
            chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
        ) {
          e.preventDefault();
          location.href = curnode.href;
        }
      },false);
    }
    })(document,window.navigator,'standalone');
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  div#nav
    ul
      each title,index in titles
        if(currentURL == '/' + index)
          li
            a(href='/' + index).current #{title}
        else
          li
            a(href='/' + index) #{title}
  table
    tbody
      each forecast in forecasts
        tr
          td
            body #{forecast.simple_datetime.date}
          td
            body #{forecast.simple_datetime.time_prefix}
          td
            body #{forecast.simple_datetime.time}
          td
            body #{forecast.temp}
          td
            body #{forecast.info}
          td
            body #{forecast.wind}

  p #{update_time}

  if (source == 0)
    p '天气数据来源于#[a(href ="http://openweathermap.org/api") OpenWeatherMap]免费天气API'
  else
    p #[a(href ="http://forecast.io/") Powered by Forecast]
