doctype html
html
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  table
    tbody
      each forecast in forecasts
        tr
          td
            body #{forecast.date}
          td
            body #{forecast.time}
          td
            body  #{forecast.temp}
          td
            body  #{forecast.info}

  p #{update_time}
  p 天气数据来源于#[a(href ="http://openweathermap.org/api") OpenWeatherMap]免费天气API
